<div class="row">
    <div class="col-12">
      <form (ngSubmit)="onSignIn(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Mail</label>
          <input type="email" id="email" name="email" class="form-control" ngModel>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" ngModel>
          <button type="submit" class="btn btn-primary">Signin</button>
        </div>
      </form>
    </div>
  </div>
